<!DOCTYPE html>
<html>

<head>
    <title>Film Grosses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/chart.js"></script>
    <script src="/scripts/app.js"></script>
</head>

<body>
    <canvas id="myChart" width="1000" height="600"></canvas>
</body>

</html>