<!DOCTYPE html>
<html>

<head>
    <title>Film Grosses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <ul>
   <li><%= data[0].name %></li>
   <% for(var point=0; point<data[0].dataPoints.length; point++) {%>
   <li>
       <p><%= data[0].dataPoints[point].value %></p>
   </li>
    <% } %>
    </ul>

</body>

</html>