<!DOCTYPE html>
<html>

<head>
    <title>Film Grosses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/scripts/chart.js"></script>
    <script src="/scripts/app.js"></script>
</head>

<body>
    <div id="chart" width="1000" height="600"></div>
</body>

</html>