<!DOCTYPE html>
<html>

<head>
    <title>Film Grosses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
   <% for(var film=0; film<data.length; film++) {%>
   <li><%= data[film].name %>
   
   
   <% for(var point=0; point<data[film].dataPoints.length; point++) {%>
   <li>
       <p><%= data[film].dataPoints[point].value %></p>
   </li>
    <% } %>
   
   </li>   
<% } %>
</body>

</html>